DEBUG=False

TIMEZONE=Asia/Tashkent

DELIVERY_SERVICE_API_URL=http://web:8000/api/v1/delivery/

MONGODB_URL=mongodb://mongodb:27017

# berzezek, nafisa, olya
ADMIN_USERS=88938160,448321560,214125454

BOT_TOKEN=5849313836:AAEfJviU580jsZ_vQI1FDow9B11gRJM8sDE

# SHEDULE_ADD_ORDERS, SCHEDULE_UPDATE_ORDERS
SCHEDULE_TIME=05:30,23:00
